---
layout: default
---

<div class="content">

    <p>Publicado: {{ page.date | date: "%b %-d, %Y" }} por {{ page.author }}</p>

    {{ content }}

    {% if page.graph %}
      {% include {{ page.graph }} %} 
    {% endif %}

  </div>

<div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
